@import url(https://fonts.googleapis.com/css?family=Abril+Fatface);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:900italic);
@import url(http://fonts.googleapis.com/earlyaccess/cwtexfangsong.css);

$burger: 768px;

html,body{
    background: linear-gradient(to right, #F9FBCF , #FA9F9E);
    padding: 0;
    margin: 0 ;
    height: 100%;
}

#mount{
    min-height:100%;
    position:relative;
}

.navbar-default{
    margin:0;
    border: none;
    background: linear-gradient(to right, #F9FBCF , #FA9F9E);    
    padding-left: 2%;
    .navbar-brand{
        color: #8F4F5D;
        font-size: 25px;
        font-family: 'Abril Fatface', cursive;
    }

    .navbar-toggle {
        border: none;
        background: transparent !important;

        &:hover {
        background: transparent !important;
        }

        .icon-bar {
            background-color: #8F4F5D;    
            width: 22px;
            transition: all 0.2s;
        }
        .top-bar {
            transform: rotate(45deg);
            transform-origin: 10% 10%;
        }
        .middle-bar {
            opacity: 0;
        }
        .bottom-bar {
            transform: rotate(-45deg);
            transform-origin: 10% 90%;
        }
    }

    .navbar-toggle.collapsed {
        .top-bar {
            transform: rotate(0);
        }
        .middle-bar {
            opacity: 1;
        }
        .bottom-bar {
            transform: rotate(0);
        }
    }
}

#navbar{
    .liWrapper{
        li{
            font-size: 20px;    
        }
    }
}

.content {
	padding-bottom:90px;
}

.footer{
	width:100%;
	height:70px;
	position:absolute;
	bottom:0;
	left:0;
    background-color: #77777F;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: aliceblue;
    .copyright{
        
    }
    .facebook{
        margin-top: 5px;
        img{
            width:20px;
        }
    }
}


    
.homeWrapper{
    padding-bottom: 25px;
    font-size: 40px;
    position: relative;
    width: 90%;
    left: 5%;
    overflow: hidden;
    margin-top: 40px;
    display:flex;
    @media screen and (max-width: $burger) {
        display: block;    
    }
    .sbcwaTitle{
        width: 40%;
        margin-right: 5%;
        color: black;
        text-align: left;
        font-size: 50px;
        font-family: 'cwTeXFangSong', 'Playfair Display', serif;
        font-weight: bolder;
        :last-child{
            color: #8F4F5D;
        }
        @media screen and (max-width: $burger) {
            font-size: 36px;  
            width: 100%;
        }
    }
    .sbcwaInfo{
        width: 50%;
        img{
            max-width: 100%;
            height: auto;
        }
        @media screen and (max-width: $burger) {
            padding-top: 20px;
            width: 100%;
        }
    }
}


.socialWrapper{
    text-align: center;
    margin: 30px;
}

.socialTitle {
    border: none;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #B2D1C2;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.socialTitle:hover {
    background: #8ba397;
    text-decoration: none;
}

.socialTitlelarger {
    width: 75%;
    border: none;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #8ba397;
    padding: 10px 20px 10px 20px;
    text-decoration: none;    
}

.memberList{
     
}

.thing-enter {
  opacity: 0.01;
  transition: opacity 0.1s ease-in;
}

.thing-enter.thing-enter-active {
  opacity: 1;
}

.thing-leave {
  opacity: 1;
  transition: opacity 0.1s ease-in;
}

.thing-leave.thing-leave-active {
  opacity: 0.01;
}

.eachMember{
    margin-top: 20px;
    img{
        max-width: 100%;
        height: auto;    
    }
} 

.eventsWrapper{
    margin: 0;
    width:90%;
    margin-left: 5%;
    .eachEvent{
        width: 100%;
        margin-top: 20px;
        .eventTitle{
            border: none;
            border-radius: 28px;
            font-family: Arial;
            color: #ffffff;
            font-size: 20px;
            background: #B2D1C2;
            padding: 10px 20px 10px 20px;
            text-decoration: none;
            &:hover {
                background: #8ba397;
                text-decoration: none;
            }
        }
        .eventTitlelarger{
            width: 100%;
            border: none;
            border-radius: 28px;
            font-family: Arial;
            color: #ffffff;
            font-size: 20px;
            background: #8ba397;
            padding: 10px 20px 10px 20px;
            text-decoration: none;      
        }
        .eventImgsWrapper{
            margin-top: 20px;
            display:flex;
            flex-direction:row;
            align-content:flex-start;
            flex-wrap:wrap;
            div{
                img{
                    max-width: 100%;
                    max-height: 300px;
                    margin-left: 15px;
                    margin-bottom: 15px;
                }               
            }
        }
    }

}
    
.formWrapper{
    padding: 30px;
    input{
        margin-bottom: 20px;
    }
}

.hidden{
    display: none;
}    


.clubsWrapper{
    position: relative;
    width: 90%;
    top: 25px;
    left: 5%;
    padding-bottom: 25px;
    text-align: center;
    .calendarWrapper{
        .calendarTitle{
            text-align: left;
            font-size: 30px;
            margin-bottom: 15px;
            color: black;
        }
        iframe{
            position: relative;
            width: 85%;
            left: -7.5%;
            height: 830px;
            overflow: hidden;
            @media screen and (max-width: $burger) {
            
            }
        }        
    }

}

